<h1>List of Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed ? 'âœŒðŸ¼' : '[ ]' %> <%= link_to task.title, task_path(task.id) %> <%= link_to 'ðŸ—‘', task_path(task.id), method: :delete %></li>
  <% end %>
</ul>

<br/>
<%= link_to 'New', task_new_path %>

